a {
  text-decoration: none;
}
input {
  border-right: 50px;
  box-shadow: 0px 0.5px 1px #00000047;
  margin-right: 20px;
}
body {
  width: 1920px;
}

/* Navigation Bar */

.navbar-container {
  display: flex;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 64px;
}

.navbar-container {
  background: #43c0f6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #43c0f6;
  opacity: 1;
}

#star-logo-top {
  margin-top: 2px;
  margin-left: 255px;
  width: 146px;
  height: 60px;
}

#star-logo-top {
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

#home-link {
  margin-top: 32px;
  margin-left: 373.01px;
  width: 50px;
  height: 22px;
  text-align: left;
  font: normal normal bold 16px/32px Open Sans;
  letter-spacing: 0.32px;
  color: #ffffff;
  opacity: 1;
}

#projects-link {
  margin-top: 32px;
  margin-left: 99px;
  width: 78px;
  height: 22px;
  text-align: left;
  font: normal normal bold 16px/32px Open Sans;
  letter-spacing: 0.32px;
  color: #ffffff;
  opacity: 1;
}

#teachers-link {
  margin-top: 32px;
  margin-left: 97px;
  width: 82px;
  height: 22px;
  text-align: left;
  font: normal normal bold 16px/32px Open Sans;
  letter-spacing: 0.32px;
  color: #ffffff;
  opacity: 1;
}
.navbar-right-container {
  display: flex;
  flex-direction: column;
}

.navbar-right-line1 {
  margin-top: 7px;
  margin-left: 395px;
  text-align: left;
  font: normal normal normal 11px/32px Open Sans;
  letter-spacing: 0.22px;
  color: #ffffff;
  opacity: 1;
}

#nz-flag-image {
  margin-top: 8px;
  margin-left: 11px;
  width: 22px;
  height: 12px;
}

#maori-flag-image {
  margin-top: 8px;
  margin-left: 10px;
  width: 22px;
  height: 12px;
}

#profile-image {
  margin-top: -20px;
  margin-left: 296px;
  width: 26px;
  height: 26px;
}

#profile-name {
  margin-left: 9px;
  margin-top: -20px;
  text-align: left;
  font: normal normal bold 16px/32px Open Sans;
  letter-spacing: 0.32px;
  color: #ffffff;
  opacity: 1;
}

/* Content section */

/* Left side content section */
.content-container {
  display: flex;
  width: 1920px;
}

.content-left-container {
  width: 169px;
  margin-left: 255px;
  margin-top: 200px;
  /* border-style: solid;
  border-color: red;
  border-width: 2px; */
}
hr {
  width: 169px;
  margin-left: 0;
  border: 1px solid #707070;
  opacity: 1;
}
.checkbox-section {
  margin-top: 50px;
}

.checkbox-heading {
  text-align: left;
  font: normal normal normal 16px/24px Open Sans;
  letter-spacing: 0.32px;
  color: #767676;
  opacity: 1;
}
.checkbox-text {
  text-align: left;
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: 0.28px;
  color: #767676;
  opacity: 1;
}

/* Right side content section*/
.content-right-container {
  margin-top: 88px;
  margin-left: 119px;
  /* border-style: solid;
  border-color: red;
  border-width: 2px; */
}
#main-heading {
  text-align: left;
  font: normal normal 900 42px/11px Nunito;
  letter-spacing: 0.84px;
  padding: 20px 0;
  color: #6c6c6c;
  opacity: 1;
}

#sub-heading {
  margin-top: 15px;
  text-align: left;
  font: normal normal normal 20px/24px Open Sans;
  letter-spacing: 0.4px;
  color: #767676;
  opacity: 1;
}

.filter-container {
  display: flex;
  margin-top: 59px;
  text-align: left;
  font: normal normal normal 16px/24px Open Sans;
  letter-spacing: 0.32px;
  color: #767676;
  opacity: 1;
}

#filter-left-container > button {
  padding: 0 20px;
}

#filter-right-container {
  margin-left: 580px;
}

#filter-right-container > button {
  padding: 0 10px;
}

/* project showcase with images and titles (main title and subtitle) */

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 39px;
  width: 1250px;
  /* border-style: solid;
  border-color: red;
  border-width: 2px; */
}

.project-container-single {
  padding-right: 96px;
  width: 315px;
  text-align: center;
  /* border-style: solid;
  border-color: red;
  border-width: 2px; */
}

#project-title {
  font: normal normal 800 30px/15px Nunito;
  letter-spacing: 0.6px;
  line-height: 30px;
  color: #707070;
  opacity: 1;
  padding: 15px 0;
}

#project-info {
  font: normal normal normal 20px/24px Open Sans;
  letter-spacing: 0.4px;
  color: #767676;
  opacity: 1;
  padding-bottom: 60px;
}
