.project-header{
    /* border: 1px solid pink; */
    margin: auto;
    width: 1000px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.28px;
    display: flex;
}

.header-one{
    /* display: flex; */
    /* border: 1px solid green; */
    text-align: center;
    color: blue;
    /* background-color: rgb(207, 206, 206); */
    min-width: 220px;
}

.header-two{
    display: flex;
    /* border: 1px solid green; */
    flex-grow: 1;
    justify-content: space-evenly;
}

.header-box-left{
    /* border: 1px solid red; */
    width: 40%;
}

.header-box-right{
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 1px solid red; */
    width: 60%;
}

.top-link-one{
    /* border: 1px solid red; */
    margin:0px 10px 0px 10px;
    background-color: #E5AB2C;
}

.top-link-two{
    /* border: 1px solid red; */
    margin:0px 10px 0px 10px;
    background-color: #F91C85;
}

.top-link-three{
    /* border: 1px solid red; */
    margin:0px 10px 0px 10px;
    background-color: #43C0F6;
}

.header-box-right a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* width: 120px; */
    padding: 4px;
    border-radius: 7px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 5px #00000029;
}

.header-three{
    /* display: flex; */
    /* border: 1px solid green; */
    width: 10%;
    justify-content: center;
    text-align: center;
}