.middle{
    /* border: 10px solid blue; */
    background-color: #EEEEEE;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px ;
    font-family:Arial, Helvetica, sans-serif;
}

.main{
    /* border: 1px solid red; */
    max-width: 700px;
    /* height: 100px; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-left{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 40px 0px 40px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    align-self: flex-start;
    /* border-color: #E2DFDF; */
}

.main-left img{
    height: 120px;
    width: 120px;
    padding: 0px 0px 40px 0px;
    /* align-items: flex-start; */
}

.main button{
    font-size: 12px;
    width: 120px;
    box-shadow: 0px 4px 5px #00000029;
    border: 2px solid #43C0F6;
    border-radius: 7px;
    opacity: 1;
    color: #43C0F6;
    background-color: white;
    font-weight: bold;
    margin: 10px;
    padding: 4px;
}

.main-box{
    display: flex;
    width: 700px;
    justify-content: space-between;
    /* border: 1px solid green; */
}

/* ---------- RIGHT SIDE */

.main-right{
    /* border: 1px solid green; */
    width: 60%;
    border-radius: 30px;
    background-color: #FFFFFF;
    /* border-color: #E2DFDF; */
    min-height: 200px;
    padding: 20px 20px 20px 20px ;
    font-size: 10pt;
}

.main-right h2{
    text-align: center;
    font-size: 30px;
    /* border: 1px solid red; */
}

.info{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.main-right .left{
    /* text-align: right; */
    /* border: 1px solid red; */
    width: 40%;
    color: #A5A5A5;
}

.main-right .right{
    width: 50%;
    color: #707070;
    font-weight: bold;
    word-wrap: break-word;
    /* border: 1px solid blue; */
}

/* --------- */

.main-footer{
    /* border: 1px solid blue; */
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.main-footer button{
    background-color: #F91C85;
    border: 2px solid #F91C85;
    box-shadow: 0px 4px 5px #00000029;
    text-decoration: none;
    width: 200px;
}

.teacher-main-footer{
    /* border: 2px solid black; */
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.teacher-footer-btn-one button{
    background-color: #E5AB2C;
    border: 2px solid #E5AB2C;
    box-shadow: 0px 4px 5px #00000029;
    text-decoration: none;
    min-width: 200px;
}

.teacher-footer-btn-one a{
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}

.teacher-footer-btn-two button{
    background-color: #F91C85;
    border: 2px solid #F91C85;
    box-shadow: 0px 4px 5px #00000029;
    text-decoration: none;
    width: 200px;
}

.teacher-footer-btn-two a{
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}


.main-footer a{
    color: white;
    /* background: #F91C85; */
    /* box-shadow: 0px 4px 5px #00000029; */
    border-radius: 7px;
    opacity: 1;
    text-decoration: none;
}

.main-box a{
    color: #43C0F6;
    text-decoration: none;
}